body{
	background:gray;
}
.wrapper{
	background:#fff;
	max-width:968px;
	margin:0 auto;
	padding:0px;
}
.wrapper:after{
	content:"";
	display:block;
	clear:both;
}

.service h2, .service p{
	color:#999;
	margin:20px;
	text-align:center;
}
.service{
	float:left;
	background:#eee;
	width:29.33%;
	margin:1%;
	padding:1%;
	height:140px	;
}