body{
	background-color: lightgray;
}
table{
	border-color: black;
	background-color: white;
	border-radius: 15px 0px 15px 0px;
} 
table thead{
	background-color: black;
	color: white;
	opacity: 0.7;
}