body{
	background:gray;
}
.wrapper{
	background:#fff;
	max-width:968px;
	margin:0 auto;
	padding:0px;
}
.wrapper:after{
	content:"";
	display:block;
	clear:both;
}
.service h2, .service p{
	color:#999;
	margin:20px;
	text-align:center;
}
.service{
	float:left;
	background:#eee;
	width:29.33%;
	margin:1%;
	padding:1%;
	height:140px	;
}
.services:after{
    content: "";
    clear:both;
    display:block;
}
.content{
    padding:10px;
    clear:both;
    margin-top:50px;
}
.content p{
	-webkit-column-count:3;
	column-count:3;
	-webkit-column-gap:50px;
	column-gap:50px;
	-webkit-column-rule:1px solid #ccc;
	column-rule:1px solid #ccc;
	text-align:justify;
}
.content:after{
	content: "";
	clear:both;
	display:block;
}
section, aside{
	float:left;
	width: 46%;
	padding:1%;
	margin:1%;
	background:#f2f2f2;
}
.columns:after{
	content: "";
	clear:both;
	display:block;
}