#content{
	position: absolute;
	background-image: url('images/city.jpg');
	height: 200px;
	width: 600px;
	border-style: solid;
	border-color: black;
}
#gray-box{
	position: absolute;
	width: 200px;
	height: 90px;
	border-style: solid;
	border-color: black;
	color: white;
	background-color: gray;
	opacity: 0.8;
	margin: 5px 5px 5px 5px;
}
#gray-box #text-amsterdam{
	font-family: Calibri;
	font-size: 40px;
}
#gray-box #text-properties{
	font-family: Calibri;
	font-size: 20px;
}
#footer{
	position: absolute;
	font-family: Calibri;
	font-size: 20px;
	color: white;
	text-align: bottom;
	bottom: -20px;
	right: 5px;
}